# Virtual environment
env/
venv/

# Compiled Python files
*.pyc

# Cache directories
__pycache__/

# IDE-specific files
.vscode/
.idea/

# Configuration files with sensitive information
.env
config.py

