<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Song Information</title>
</head>
<body>
    <h1>Edit Song Information</h1>
    <form action="/edit?songId={{ songId }}" method="post">
        <label for="song_title">Song Title:</label>
        <input type="text" id="song_title" name="song_title" value="{{ songInfo[0][0] }}"><br><br>

        <label for="genre">Genre:</label>
            <select id="genre" name="genre_id">
                {% for g in genre %}
                    <option value="{{ g[0] }}" {% if g[1] == songInfo[0][3] %} selected {% endif %}>{{ g[1] }}</option>
                {% endfor %}
            </select><br><br>

        <label for="release_date">Release Date:</label>
        <input type="date" id="release_date" name="release_date" value="{{ metadata[0][0] }}"><br><br>

        <label for="label">Label:</label>
            <select id="label" name="label_id">
                {% for l in label %}
                    <option value="{{ l[0] }}" {% if l[1] == songInfo[0][4] %} selected {% endif %}>{{ l[1] }}</option>
                {% endfor %}
            </select><br><br>

        <input type="submit" value="Update Song">
    </form>
</body>
</html>