<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Song</title>
</head>
<body>
    <h1>Add Artist</h1>
    <form action="/addartist" method="post">
        <label for="frist_name">First Name:</label>
        <input type="text" id="frist_name" name="frist_name" required><br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>